/* Dark Theme Styles */

/* コンテナ全体のスタイル */
.container {
  padding: 2rem;
  background-color: #1e1e1e; /* ダークグレー */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* ダークテーマに合わせた明るいシャドウ */
  margin: 2rem auto;
  max-width: 1200px;
  margin-top: 80px;
  font-family: 'Noto Serif', serif;
  color: #e0e0e0; /* テキスト色を明るいグレー */
}

.projectContent {
  font-size: 1rem;
  color: #b0b0b0; /* 明るいグレー */
  margin-top: 1.5rem; /* 上部に余白を追加 */
  margin-bottom: 1.5rem; /* 下部に余白を追加 */
}

.mainContent {
  padding: 2rem;
}

.projectTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #f5f5f5; /* 明るいグレー */
  margin-bottom: 1rem;
}

.projectDescription {
  font-size: 1rem;
  color: #b0b0b0; /* 明るいグレー */
  margin-bottom: 1rem; /* 下部に余白を追加 */
}

.projectProgression {
  font-size: 1rem;
  margin-bottom: 1rem; /* 下部に余白を追加 */
  font-weight: bold;
}

/* progression ステータスのスタイル */
.progressionIdeas {
  color: #f1c40f; /* 黄色 */
}

.progressionDeployed {
  color: #2ecc71; /* 緑色 */
}

.progressionInProgress {
  color: #3498db; /* 青色 */
}

.progressSection {
  margin-top: 2rem;
}

.progressTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f5f5f5; /* 明るいグレー */
  margin-bottom: 1rem;
}

.progressList {
  margin-top: 1rem;
}

.progressItem {
  border-bottom: 1px solid #333; /* ダークなボーダー */
  padding: 1rem 0;
  transition: background-color 0.3s ease;
}

.progressItem:last-child {
  border-bottom: none;
}

.progressItem:hover {
  background-color: #2c2c2c; /* ダークグレーのホバー背景 */
}

.updateTitle {
  font-size: 1.25rem;
  font-weight: bold;
  color: #f5f5f5; /* 明るいグレー */
}

.updateDate {
  font-size: 0.9rem;
  color: #8c8c8c; /* グレー */
}

.updateContent {
  font-size: 1rem;
}

/* リンクのスタイル */
.projectLink {
  font-size: 1rem;
  color: #3498db; /* 青色 */
  text-decoration: none; /* アンダーラインを除去 */
  margin-top: 1.5rem; /* 上部に余白を追加 */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* シャドウとトランスフォームのトランジション */
}

.projectLink:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3); /* ホバー時に明るいシャドウを追加 */
  transform: translateY(-2px); /* 少し上に浮かせる */
  text-decoration: none; /* アンダーラインを除去 */
}
